<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<nav class="ui inverted attached segment m-padded-tb-mini">
    <div th:replace="admin/_fragments :: menu(3)" class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" th:href="@{/admin/blogs}" class="active item"><i class="home icon"></i>博客</a>
            <a href="#" th:href="@{/admin/types}" class="item"><i class="idea icon"></i>分类</a>
            <a href="#" th:href="@{/admin/tags}" class="item"><i class="tags icon"></i>标签</a>
            <a href="#" class="item"><i class="info icon"></i>关于我们</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="item">
                        <img class="ui avatar image" src="../static/images/logo.jpg" th:src="@{${session.user.avatar}}">
                        <span th:text="${session.user.nickname}">jyug345</span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" th:href="@{/admin/logout}">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">发布</a>
            <a href="#" class="teal active item">列表</a>
        </div>

    </div>

</div>
<!-- 中间内容 -->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui success large message">
            <h2>Hi,</h2>
            <p>{{username}}</p>
        </div>
        <img src="https://dss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1786737029,3248263780&fm=26&gp=0.jpg"
             alt="" class="ui rounded bordered fluid image">
    </div>
</div>


<!-- 页脚 -->
<footer th:replace="admin/_fragments::footer" class="ui inverted vertical segment m-padded-tb-passive">
    <div class="ui center aligned container">
        <div class="ui inverted divided grid">
            <div class="three wide column">
                <img src="../static/images/logo.jpg" class="ui rounded image" alt=""
                     style="width: 100px;height: 100px;">
            </div>
            <div class="three wide column">
                <h4 class="ui inverted head">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(Uesr story)</a>
                    <a href="#" class="item">用户故事(Uesr story)</a>
                    <a href="#" class="item">用户故事(Uesr story)</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted head">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事(Uesr story)</a>
                    <a href="#" class="item">用户故事(Uesr story)</a>
                    <a href="#" class="item">用户故事(Uesr story)</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted head">最新博客</h4>
                <p>这是我的个人博客，欢迎访问~</p>
            </div>

        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-lined">Copyright 2019-2020 Lirenmi Designed by Education-ZH</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown({
        on: "hover"
    });


</script>
</body>
</html>